
/* Add Meal Page rating */
.checked {
    color: orange;
}

/* 
This initial footer styling was making it so that the footer
stuck to the bottom of the screen (and would overlap text) so
we should brainstorm different styling for this 
*/
/* footer {
    position: fixed; 
    bottom: 0;
    left: 0; 
}  */

/* Default (xs screens) */






