/* General Styling */
h1 {
    font-weight: bold; 
    display: inline-block; 
}

header {
    background-color: #59328a;
}

.header-text {
    color: white;
    margin: 0.1rem; 
}

.search {
    margin-left: 0.2rem; 
    margin-bottom: 1.2rem; 
    margin-top: 1.5rem; 
    font-size: 1rem;
}

.price {
    margin-right: 0.3rem; 
}

.cuisine {
    margin-right: 0.3rem; 
}

/* Navbar */
.navbar-custom {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* Home Page */
.container .reviews-link {
    display: inline-block;
    background-color:#59328a;
    color:#f5f3f2;
}

.container .stars {
    display: block;
}

body {
    color: black;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: right;
}

.card {
    background-color: #f5f3f2;;
    margin-bottom: 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.btn.custom-color {
    color: blue;
}
.btn.custom-color a {
    color: inherit;
    text-decoration: none;
}

/* Meal Page CSS (discarded) */
/* nav .btn {
    background-color: #f5f3f2;
}

.meal-body {
    font-family: 'Open Sans';
    color: black;
}

.meal-body header {
    color: white;
}

.meal-body h1 {
    font-weight: bold;
    margin: 0.5rem;
    display: inline-block;
}

.meal-body .favorite {
    display: inline-block;
    margin-left: 10px;
}

.meal-body h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.stars {
    margin: 0.25rem;
    display: inline-block;
}

.rating {
    display: inline-block;
}

.meal-body p {
    margin: 0.5rem;
}

.meal-body a {
    margin: 0.1rem;
}

.meal-body .card {
    margin: 0.5rem;
    background-color: #f5f3f2;
}

.meal-body .add-review {
    margin: 0.5rem;
}

#meal-img {
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

footer {
    color: black; 
}

.google-log-in {
    background-color: white;
    align-items: center;
    border-radius: 10px; 
    height: 2.6rem; 
    margin: auto; 
    padding-right: 1rem; 
    margin-top: 3rem; 
    margin-bottom: 31rem; 
}

.checked {
    color: orange; 
}

.meal-image {
    width: 40px;
    height: 350px; 
}

/* Media Queries */

@media (min-width: 576px) { 
    #laptop-nav {
        display: block; 
        padding-top: 10px; 
        padding-left: 12px; 
    }

    #hamburger-menu {
        display: none; 
    }
}

@media (max-width: 992px) {
    .laptop-nav {
        display: none; 
    }

    #hamburger-menu {
        display: block;
        padding-top: 5px; 
        padding-left: 12px;  
    }  
    
}

/* Fixes home page card spacing between 1200px-1400px screens */
@media (min-width: 1200px) and (max-width: 1400px) { 
    .homepage-card {
        flex: 0 0 48%;
        max-width: 100%;
        margin: 10%;
    }
}